name: Swift WASM

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: swift-actions/setup-swift@v2
      with:
        swift-version: "6.0.3"
    - uses: swiftwasm/setup-swiftwasm@v2
      with:
        tag: swift-6.0.3-RELEASE
    - name: Build
      run: swift package --swift-sdk 6.0.3-RELEASE-wasm32-unknown-wasi js
